# dependencies
node_modules
.pnp
.pnp.js

# builds
dist/
.next/
out/

# turbo cache
.turbo/

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*

# playwright
playwright-report/
test-results/

# OS
.DS_Store
Thumbs.db
